.nav {
    background-color: #eef5ff;
    grid-area: n;
    padding: 20px;
    height: 700px;
}

.nav a {
    color: dodgerblue;
    text-decoration: none;
}

.nav a.active {
    color: gold;
}
.friends {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    align-content: space-between;



}