.app-wrapper {
    width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(100px, auto);
    grid-template-areas:
            "h h h h h"
            "n c c c c";
}

